################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.pkl
